
<div class="container-index">
    <div class="flex-container-rigth">  
        <div class="text-zone">
            <h1>Cinema Ironhack</h1>
            <a href="/movies" class="btn-check">Check the movies!</a>
        </div>
    </div>
</div>